<div class='container-home' align='center'>
    <div class='text-center py-5'>
      <h1>Bem-vindo(a) ao portal da AppSaúde!</h1>
    </div>
    <div class="card p-5">
      <div class='row'>
        <div class='pl-5 text-center'>
          <h3>Faça seu login para entrar na plataforma!</h3>
        </div>
      </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class='row mt-3 justify-content-center'>
            <div class="text-left">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
            </div>
          </div>

          <div class='row justify-content-center'>
            <div class="form-group text-left mt-3">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
            </div>
          </div>

          <div class='row justify-content-center'>
            <% if devise_mapping.rememberable? %>
              <div class="form-group col-4 form-check">
                <%= f.check_box :remember_me, class: 'form-check-input' %>
                <%= f.label :remember_me, class: 'form-check-label' do %>
                  <%= resource.class.human_attribute_name('remember_me') %>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class='row mt-4'>
            <p class='col-4'></p>
            <div class="form-group col-4">
              <%= f.button :submit, class: 'form-control btn-home' %>
            </div>
          </div>
        <% end %>
        <div class='row mt-2 flex-column justify-content-center'>
          <p><%= render 'devise/shared/links' %></p>
        </div>
      </div>
</div>
