<div class='row justify-content-center'>
  <%= simple_form_for [ @funcionario ] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class='row mt-5 justify-content-center'>
        <div class="text-left mr-5">
          <%= f.label :name, 'Nome' %>
          <%= f.email_field :name, class: 'form-control' %>
        </div>
        <div class="text-left ml-5">
          <%= f.label :data_admissao, 'Data de Admissão' %>
          <%= f.date_field :data_admissao, class: 'form-control' %>
        </div>
      </div>
      <div class='row mt-5 justify-content-center'>
        <div class="text-left mr-5">
          <%= f.label :cpf, 'CPF' %>
          <%= f.number_field :cpf, class: 'form-control' %>
        </div>
        <div class="text-left ml-5">
          <%= f.label :email %>
          <%= f.email_field :email, autocomplete: 'email', class: 'form-control' %>
        </div>
      </div>
      <div class='row mt-5 justify-content-center'>
        <div class="text-left mr-5">
          <%= f.label :peso, 'Peso (Kg)' %>
          <%= f.number_field :peso, class: 'form-control' %>
        </div>
        <div class="text-left ml-5">
          <%= f.label :altura, 'Altura (cm)' %>
          <%= f.number_field :altura, class: 'form-control' %>
        </div>
      </div>
      <div class='row mt-5 justify-content-center'>
        <div class="text-left">
          <%= f.hidden_field :user, value: current_user %>
        </div>
      </div>
      <div class='d-flex justify-content-center mt-5' >
        <%= link_to "Back", funcionarios_path, class: "btn btn-home" %>
        <%= f.submit "Cadastrar", class: "btn btn-home mx-3" %>
      </div>
  <% end %>
</div>
