<div class= "text-center">
  <h1>Ficha de cadastro do <%= @funcionario.name %></h1>

<div class="card m-3" style="width: 25rem;">
  <div class="card-body">
    <h5 class= "card-title text-success"><%=@funcionario.name%></h5>
    <h6 class= "card-text">CPF: <%=  @funcionario.cpf %></h6>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Peso: <%= @funcionario.peso %>Kg</li>
    <li class="list-group-item">Altura: <%= @funcionario.altura %></li>
    <li class="list-group-item">Data Admissão: <%= @funcionario.data_admissao%></li>
    <li class="list-group-item">Horas Meditadas: <%=  @funcionario.horas_meditadas %> on <%= time_tag(@funcionario.created_at) %></li>
    <li class="list-group-item">Email: <%= @funcionario.email%></li>
    <li class="list-group-item">Endereço: <%= @funcionario.endereco%></li>
    <li class="list-group-item">Empresa: </li>
    <li class="list-group-item">Benefícios Utilizados: </li>
  </ul>
</div>
<div class="d-flex justify-content-center">
    <%= link_to 'Edit', edit_funcionario_path , class: 'btn btn-secondary' %>
    <%= link_to 'Delete', @plano, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mx-3" %></p>
    <%= link_to 'Back', funcionarios_path, class: 'btn btn-secondary' %>
</div>

  <%# <div class= "d-flex p-5 text-center">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col">Peso</th>
          <th scope="col">Altura</th>
          <th scope="col">Data de Admissão</th>
          <th scope="col">Horas Meditadas</th>
          <th scope="col">Email</th>
          <th scope="col">Endereço</th>
          </tr>
      </thead>
      <tbody>
            <tr>
              <th scope="row"><%= @funcionario.id%></th>
              <%# <td><%=  @funcionario.name %></td>
              <%# <td><%=  @funcionario.cpf %></td>
              <%# <td><%=  @funcionario.peso %></td>
              <%# <td><%= @funcionario.altura %></td>
              <%# <td><%= @funcionario.data_admissao %></td>
              <%# <td><%= @funcionario.horas_meditadas %></td>
              <%# <td><%= @funcionario.email %></td>
              <%# <td><%= @funcionario.endereco %></td>
            <%# </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to 'Edit', edit_funcionario_path , class: 'btn btn-secondary' %>
    <%# <%= link_to 'Delete', @funcionario, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mx-3" %></p>
    <%# <%= link_to 'Back', funcionarios_path, class: 'btn btn-secondary' %>
  <%# </div>
</div> %>
